@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{

    --col1: #212121;
    --col2: #e8e8e8;

    --animLength: 250ms;
    --borderRadius: 0.5;
}

*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: var(--col1);
    color: var(--col2);
    min-height: 100vh;
    max-width: 1200px;
    margin: auto;
    padding: 0rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 'header header header header'
                         'aside main main main'
                         'aside main main main';
    gap: 2rem;
}