.--flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.--flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.--flexColumn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}