@import url('config.css');
@import url('flex.css');

/******************************************/
/******** CONFIGURATION HEADER ************/
/******************************************/
header{
    border: 1px solid var(--col2);
    grid-area: header;
}

h1{
    text-align: center;
}

h2{
    background-color: var(--col2);
    text-align: center;
    color: var(--col1);
}


/******************************************/
/*********** CONFIGURATION MAIN ***********/
/******************************************/
.aside{
    grid-area: aside;
}

main{
    grid-area: main;
}

.aside__name{
    font-size: 1.5rem;
    font-weight: bold;
}

aside div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

section img{
    width: 25px;
}

.main__sectionText{
    font-size: 1.5rem;
    font-weight: bold;
}

span{
    font-style: italic;
}

/******************************************/
/************** MEDIAQUERIES **************/
/******************************************/
@media only screen and (max-width: 900px) {
    .bodyIndex {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'header' 'aside' 'main';
    }

    .main__sectionText{
        display: none;
    }
  }
